@tailwind base;
@tailwind components;
@tailwind utilities;
a.active{
    background-color: rgb(112, 25, 25);
    color: white;
    text-decoration: underline;
   

}
.style-module_emptyIcons__Bg-FZ{
    display: flex !important;
}
  